<style>
    .scrollable-container {
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
    }

    .scrollable-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
    body{
  background:linear-gradient(60deg,lightgreen,lightblue)
}
a{
  color:rgb(12, 66, 153);
}
a:link{
  text-decoration:none;
}

a:hover{
transition:0.4s;
color:rgb(164, 210, 0);

}
.header{

background-color:rgba(255, 255, 255, 0.80);
box-shadow:0 8px 8px 0 rgba(255, 255, 255, 0.70);
border-radius:0px 0px 40px 40px;
}
.navBar{
  display:flex;
  align-items:center;
  background-color:	rgba(173,216,230,0.70);
  box-shadow:0 8px 8px 0 rgba(173, 216, 230, 0.50);
  justify-content:space-around;
  margin-left:1%;
  border-radius:0px 0px 40px 40px;
}
</style>
<body class="scrollable-container">
  <div class="header">
<div class="navBar">
   <img src='images/favicon.ico' alt='' /><p style='font-size: 25px;font-style:bold;width:70%'>Welcome to {{title}}</p><button
      onclick="window.location.href='{{mensButton}}';"
      class="buttons"
      style='width:150px;height:50px;font-size:medium;border-radius:50px;background-color:rgb(193, 189, 193);cursor:pointer'
    >Men's Clothing</button>
  <button
    onclick="window.location.href='{{womanButton}}';"
    class="buttons"
    style='width:150px;height:50px;font-size:medium;border-radius:50px;background-color:rgb(193, 189, 193);cursor:pointer'
  >Women's Clothing</button>
</div>
<div style='display:flex;align-items:center;font-size:25px;margin-left:5px'>
  {{#each currentUrl}}
    <a href='{{this.link}}'>{{this.name}}</a>
    <bold><pre> / </pre></bold>
  {{/each}}
</div></div>
{{> toRegister}}
{{>home}}
{{> footer}}