
{{> index}}
<p style='color:red;font-size:10vh;text-align:center'>{{categoryName}}</p>
<p style="font-size:6vh">Category Description ->{{category_description}}.</p>
   
  {{#each subcategories}}
<p style='color:red;font-size:8vh'>{{this.subcategory_name}}</p>
{{#each this}}
  <div style='text-align:center'>
    <a href='{{this.idLink}}'> <img src='{{this.imagePath}}' alt='' style="width:1000px" /></a>
  </div>
  <p style="font-size:6vh">{{this.subcategory_description}}</p>

  <div style='text-align:center;margin-bottom:10px;'>
    <a href='{{this.idLink}}'><button
      style='width:200px;height:75px;font-size:medium;border-radius:50px;' class="buttons"
    >{{this.name}}</button>
  </div></a>
  <hr style="margin-bottom:25px;"></hr>
{{/each}}
{{/each}}
</div>
{{> footer}}