{{> index}}
{{#if product.length}}
  {{#each product}}
    {{#unless this.name}}
      <h1 style="text-align:center;font-size:64;margin-top:10%;color:red">OUT OF STOCK</h1>
      <h1 style="text-align:center;font-size:32;color:red">We're Sorry</h1>
    {{/unless}}
  {{/each}}
{{else}}
  <h1 style="text-align:center;font-size:64;margin-top:10%;color:red">OUT OF STOCK</h1>
  <h1 style="text-align:center;font-size:32;color:green">( We're Sorry )</h1>
{{/if}}
<div style=" display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-left: 15%;
  height: auto;
  min-height: 300px;
  margin-top: 3%;
  width: 70%;
  margin-right: 15%;">
{{#each product}}
{{#if this.name}}
<div style="padding:3%;text-align:center"><p style="font-size:22px;">{{this.name}}</p>
    <div style="display:flex;justify-content:center;border-style:solid;border-color:black">
<img src='{{this.imagePath}}' alt='' style="width:50%" />
<div style="flex: 2; background-color: lightblue; display: flex; flex-direction: column; justify-content: space-between;">
    <div>
    {{{this.short_description}}}</div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding: 10px; margin-top: auto">
 <div style="margin-right: 10px;font-size:20px">{{this.price}} USD</div>   
 <div style="margin: 0;"><a href='{{this.productLink}}'><button style="width:100px;height:30px;font-size:15px;border-radius:50px;background-color:rgb(193, 189, 193);cursor:pointer"> more info</button></a></div>   
</div></div></div>
</div>
{{/if}}
{{/each}}
</div>
{{> footer}}